<html>
  <head>
    <meta charset="UTF-8">
    <title>Operat - baza i generowanie dokumentów</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>
       Operat - baza i generowanie dokumentów
    </h1>
<h3>Edytuj dane roboty {{ robota.idpracy}}</h3>
<BR>

    <form action="/edytuj" method="Post">
      <select name="rob" method="GET">
        {% for rob in lista %}
        <option value="{{ rob.idpracy }}">{{ rob.idpracy }}</option>
        {% endfor %}
      </select>
      <button type="submit">Generuj</button> 
  
    
 <div class="form-group">

     <label>Identyfikator pracy</label>
     <input type="txt" class="form-control" id="idpracy" name="idpracy" value="{{ robota.idpracy }}" >
  </div>
   <div class="form-group">
       <label>Województwo</label>
       <input type="txt" class="form-control" id="wojew" name="wojew"  value="{{ robota.wojew }}">
  </div>
     <div class="form-group">
         <label>Powiat</label>
         <input type="txt" class="form-control" id="powiat" name="powiat" value="{{ robota.powiat }}">
  </div>
     <div class="form-group">
         <label>Jednostka ewidencyjna</label>
         <input type="txt" class="form-control" id="jdnewid" name="jdnewid" value="{{ robota.jdnewid }}">
  </div>
     <div class="form-group">
         <label>Obręb</label>
         <input type="txt" class="form-control" id="obreb" name="obreb" value="{{ robota.obreb }}">
  </div>
     <div class="form-group">
         <label>Obiekt</label>
         <input type="txt" class="form-control" id="obiekt" name="obiekt" value="{{ robota.obiekt }}">
  </div>
     <div class="form-group">
         <label>Działki</label>
         <input type="txt" class="form-control" id="dzialki" name="dzialki" value="{{ robota.dzialki }}">
  </div>
  <div class="form-group">
           <label>Data sporządzenia operatu</label>
           <input type="txt" class="form-control" id="data_operat" name="data_operat" value="{{ robota.data_operat }}">
  </div>
  <div class="form-group">
             <label>Obszar akualizacji</label>
             <input type="txt" class="form-control" id="obszar" name="obszar" value="{{ robota.obszar }}">
  </div>
  <div class="form-group">
             <label>Data rozpoczęcia prac</label>
             <input type="txt" class="form-control" id="pocz" name="pocz" value="{{ robota.pocz }}">
  </div>
  <div class="form-group">
             <label>Kierownik prac</label>
             <input type="txt" class="form-control" id="kierownik" name="kierownik" placeholder="Imię Nazwisko nr upr. zakres">
  </div>
  <div class="form-group">
             <label>Licencja - dla prac zgłoszonych przed 31.07.2020</label>
             <input type="txt" class="form-control" id="licencja" name="licencja" placeholder="lic">
  </div>
  <div class="form-group">
             <label>Data licencji - dla prac zgłoszonych przed 31.07.2020</label>
             <input type="txt" class="form-control" id="datalic" name="datalic" placeholder="RRRR-MM-DD">
  </div>
  <div class="form-group">
             <label>Punkty wykorzystaniej osnowy szczegółowej poziomej</label>
             <input type="txt" class="form-control" id="osnowapoz" name="osnowapoz" placeholder="numery (stabilizacja)">
  </div>
  <div class="form-group">
             <label>Punkty wykorzystaniej osnowy szczegółowej wysokościowej</label>
             <input type="txt" class="form-control" id="osnowawys" name="osnowawys" placeholder="numer (stabilizacja)">
  </div>
  <div class="form-group">
             <label>Punkty założonej osnowy pomiarowej</label>
             <input type="txt" class="form-control" id="osnowapom" name="osnowapom" placeholder="numer">
</div>
  <div class="form-group">
             <label>Sekcje w układzie 65 lub lokalny</label>
             <input type="txt" class="form-control" id="sekcje65" name="sekcje65" placeholder="oznaczenia sekcji">
</div>
  <div class="form-group">
             <label>Sekcje w układzie 2000</label>
             <input type="txt" class="form-control" id="sekcje2000" name="sekcje2000" placeholder="oznaczenia sekcji">
</div>
  <div class="form-group">
             <label>Data wykonania pomiaru</label>
             <input type="txt" class="form-control" id="pomiar" name="pomiar" placeholder="RRRR-MMM-DD">
</div>
  <div class="form-group">
             <label>Sieć stacji referencyjnych dla pomiaru GPS</label>
             <input type="txt" class="form-control" id="gpsref" name="gpsref" placeholder="ASG/Vrsnet/Smartnet">
</div>
  <div class="form-group">
             <label>Czy była wykonywana niwelacja?</label>
             <input type="txt" class="form-control" id="niwelacja" name="niwelacja" placeholder="1=tak, 0=nie">
</div>
  <div class="form-group">
             <label>Czy była wykonywa kalibracja rastrów mapy zasadniczej?</label>
             <input type="txt" class="form-control" id="kalibracja" name="kalibracja" placeholder="1=tak, 0=nie">
</div>
  <div class="form-group">
             <label>Szkice polowe - czy wykonane w terenie czy numerycznie</label>
             <input type="txt" class="form-control" id="szkicepolowe" name="szkicepolowe" placeholder="numerycznie/tradycyjnie">
</div>
  <div class="form-group">
             <label>Zakres baz które były aktualizowane, modyfikowane.</label>
             <input type="txt" class="form-control" id="zakresbaz" name="zakresbaz" placeholder="BDOT500, GESUT, EGiB">
</div>
     <BR>
      <BR>
    <div class="form-group">
         <input type = "submit" vaule="Zapisz"/>
  </div>
          </form>

    
     <a href="\"><h3>Powrót do strony głównej</h3></a>

</body>
</html>