<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Operat</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>      Operat - baza i generowanie dokumentów    </h1>
      <h3>      Generuj sprawozdanie    </h3>
    <form action="/sprawozdanie" method="Post">
	<select name="rob" method="GET">
	{% for rob in lista %}
	<option value="{{ rob.idpracy }}">{{ rob.idpracy }}</option>
    {% endfor %}
	</select >
    <button type="submit">Generuj</button>

      </form>
<div>
     <h3>      Generuj Spis treści    </h3>
    <form action="/spis" method="Post">
	<select name="rob" method="GET">
	{% for rob in lista %}
	<option value="{{ rob.idpracy }}">{{ rob.idpracy }}</option>
    {% endfor %}
	</select >
    <button type="submit">Generuj</button>
     </form>
  </div>
      
 <div>
     <h3>      Generuj Raport na podstawie pliku    </h3>
     
    <form action="/raport" method="Post" enctype = "multipart/form-data">
	   <BR>
Wybierz pliki txt ze współrzędnymi rozdzielany znakiem tabulacji<BR>
<BR>
     <input type = "file" name = "file" />
    <select name="rob" method="GET">
	{% for rob in lista %}
	<option value="{{ rob.idpracy }}">{{ rob.idpracy }}</option>
    {% endfor %}
	</select >
    <button type="submit" > Generuj</button>
     </form>
  </div>     
      




  </body>
</html>