<html>
  <head>
    <meta charset="UTF-8">
    <title>Operat - baza i generowanie dokumentów</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>
       Operat - baza i generowanie dokumentów
    </h1>
<h3>Przeglad robot</h3>
<BR>
    <table border=1>
            <tr>
	        <td>LP</td>
	<td>ID pracy</td>
	<td>wojew.</td>
	<td>powiat</td>
	<td>jdn. ewid.</td>
	<td>obreb</td>
	<td>obiekt</td>
	<td>Kliknij po szczegóły</a></td>
        </tr>
    {% for l in lista %}
        <tr>
        <td>{{ l.ID }}</td>
<td>{{ l.idpracy }}</td>
<td>{{ l.wojew}}</td>
<td>{{ l.powiat }}</td>
<td>{{ l.jdnewid }}</td>
<td>{{ l.obreb }}</td>
<td>{{ l.obiekt}}</td>
<td><a href="/roboty/{{ l.idpracy }}">{{ l.idpracy }}</a></td>
        </tr>
         {% endfor %}
    </table>





 <a href="\"><h3>Powrót do strony glównej</h3></a>

</body>
</html>