<html>


<head>
    <meta charset="UTF-8">
    <title>Operat</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
 </head>

<body>
<div>
          <h1>{{ rob.idpracy }}</h1>
          <p>{{ rob.obreb }}, {{ rob.obiekt }}</p>

      </div>

<div class=WordSection1>

<p class=Standard align=center style='text-align:center'><b>&nbsp;</b></p>

<p class=Standard align=center style='text-align:center;line-height:normal'><b><i><span
style='font-size:12.0pt'>Sprawozdanie techniczne z całości prac</span></i></b></p>

<p class=MsoNormal style='margin-bottom:0cm'><b><i><span style='font-family:
"Arial",sans-serif;color:black'>I. Określenie celu oraz zakresu rzeczowego i
terytorialnego wykonywanych prac geodezyjnych</span></i></b></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif;
color:black'>1. Jednostka ewidencyjna: </span></i><i><u><span style='font-family:
"Arial",sans-serif'>{{ rob.jdnewid }}</span></u></i></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif;
color:black'>2. Obręb: </span></i><i><u><span style='font-family:"Arial",sans-serif'>{{ rob.obreb }}</span></u></i></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif;
color:black'>3. Cel pracy: </span></i><u><span style='font-family:"Arial",sans-serif;
color:black'>......................................</span></u></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif;
color:black'>4. Wykonawca prac geodezyjnych:<br>
</span></i><u><span style='font-family:"Arial",sans-serif'>
 <br>
<br>
</span></u><i><u><span style='font-family:
"Arial",sans-serif;color:black'>5</span></u></i><b><i><span style='font-family:
"Arial",sans-serif;color:black'>.</span></i></b></p>

<p class=MsoListParagraphCxSpFirst style='margin-left:14.2pt;text-indent:-14.2pt'><i><span
style='font-family:"Arial",sans-serif;color:black'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></i><i><span style='font-family:"Arial",sans-serif;color:black'>Ob</span></i><i><span
style='font-family:"Arial",sans-serif;color:#00000A'>szar</span></i><i><span
style='font-family:"Arial",sans-serif;color:black'>: <u>3.8972  ha</u></span></i></p>

<p class=MsoListParagraphCxSpLast style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:14.2pt;text-indent:-14.2pt'><i><span
style='font-family:"Arial",sans-serif;color:black'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></i><i><span style='font-family:"Arial",sans-serif;color:#00000A'>Czas
- okres wykonania i terminy -</span></i><i><span style='font-family:"Arial",sans-serif;
color:#FF3333'> </span></i><i><u><span style='font-family:"Arial",sans-serif'>rozpoczęcia
2020-11-09</span></u></i></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:144.0pt;text-indent:36.0pt'><i><u><span style='font-family:"Arial",sans-serif'>zakończenia
2020-11-13</span></u></i></p>

<p class=MsoNormal><i><span style='font-family:"Arial",sans-serif'>7. Wykonawcy
roboty: <br>
<u>Piotr Sieczkiewicz nr upr. 19692 (1,4) -  kierownik prac, <br>
prace kameralne i polowe: Adam Jaworski, nr upr. 21077 (1), Agnieszka Żych,
Łukasz Noceń, Piotr Kilian, Aleksandra Drozd</u></span></i></p>

<p class=MsoNormal><b><i><span style='font-family:"Arial",sans-serif;
color:black'>II. Opis przebiegu i rezultatów wykonywanych prac geodezyjnych</span></i></b></p>

<p class=MsoNormal style='margin-bottom:0cm'><b><i><span style='font-family:
"Arial",sans-serif;color:black'>1. Zakres wykorzystania materiałów PZGiK.</span></i></b></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif'>Pozyskano
z WGKiK: wykazy współrzędnych oraz opisy topograficzne punktów osnowy , mapę zasadniczą
w postaci wektorowej.</span></i></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif;
color:black;background:white'>Przed przystąpieniem do pomiarów wykonano analizę
otrzymanych materiałów PZGiK (mapa </span></i><i><span style='font-family:"Arial",sans-serif'>zasadnicza,
osnowa) i stwierdzono przydatność powyższych materiałów do wykorzystania do
wykonania pomiarów oraz dalszych prac. </span></i></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif'>Wykorzystano
punkty osnowy (wykazy współrzędnych, opisy topograficzne): </span></i></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif'>Osnowa
pozioma punkty o nr : 351.134-1015 (k.bet z r. met), 351.134-1016 (k.bet z r.
met)..</span></i></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif'>Osnowa
wysokościowa punkty o nr: 351.132-556 (reper ścienny).</span></i></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif'>Wszystkie
punkty odnaleziono w terenie w stanie dobrym. </span></i></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif'>Przeprowadzono
wywiad terenowy, na mapie zasadniczej sekcja: </span></i></p>

<p style='margin-top:.85pt;margin-right:0cm;margin-bottom:.85pt;margin-left:
0cm'><i>2000 s.5: </i><i><span style='color:windowtext'> </span></i><i><span
style='color:windowtext'>5.200.18.10.2.4, 5.200.18.10.4.2, 5.200.19.06.3.1.</span></i></p>

<p style='margin-top:.85pt;margin-right:0cm;margin-bottom:.85pt;margin-left:
0cm'><i>&nbsp;</i></p>

<p style='margin-top:.85pt;margin-right:0cm;margin-bottom:.85pt;margin-left:
0cm'><b><i><span style='background:white'>2. Zastosowane technologie i metody
pomiarowe:</span></i></b><span style='color:red'><br>
</span><i><span style='background:white'>W trakcie wywiadu terenowego nie
stwierdzono innych zmian niż wybudowane wieże stalowe na fundamentach (budowa
na podstawie decyzji nr 332/2020 z dn. 17.08.2020r). <br>
Wykonano pomiar przyziemia wież i wprowadzono do bazy roboczej jako inną
budowlę.</span></i></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif;
color:black;background:white'>Pomiar szczegółów sytuacyjnych wykonano </span></i><i><span
style='font-family:"Arial",sans-serif'>metodą GPS RTN przy wykorzystaniu sieci ASG-EUPOS,
korzystając z odbiornika GNSS Leica CS10. Pomiar kontrolny GPS wykonano na
punktach osnowy szczegółowej: </span></i><b><span style='font-family:"Arial",sans-serif'>:
</span></b><i><span style='font-family:"Arial",sans-serif'>351.134-1015
351.134-1016, 351.132-556. Wyniki pomiaru kontrolnego spełniają wymagania
Rozporządzenia MR z dnia 18 sierpnia 2020 w sprawie standardów technicznych (…)
do operatu załączono porównanie z pomiarów kontrolnych. </span></i></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif'>Pomiar
wysokościowy wykonano w układzie EVRF-2007, wysokości przeliczono za pomocą
programu H2H-pl, który wykonuje przeliczenie między układami w oparciu o
wysokości punktów osnowy podstawowej – różnica między układami w rejonie
opracowania wynosi 0.16m. <span style='color:black;background:white'>Opracowanie
wyników pomiaru wykonano przy pomocy oprogramowania znajdującego się
bezpośrednio w rejestratorze GPS.</span></span></i></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif;
color:black;background:white'>W zakresie nie stwierdzono występowania
uzgodnionych projektów.</span></i></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif'>Mapę
inwentaryzacji powykonawczej wykonano w postaci wektorowej na podstawie wyników
pomiarów i mapy zasadniczej w formacie KCD. Dla zleceniodawcy przygotowano w wersji
cyfrowej w formacie DXF.</span></i></p>

<p class=MsoNormal style='margin-bottom:0cm'><b><i><span style='font-family:
"Arial",sans-serif'>3. Informacje o rezultacie porównania opracowanej mapy z
treścią ortofotomapy:</span></i></b></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif'>W
trakcie porównanie mapy z treścią ortofotomapy nie stwierdzono błędów grubych.</span></i></p>

<p class=MsoNormal style='margin-bottom:0cm'><b><i><span style='font-family:
"Arial",sans-serif'>4. Informacja dotycząca przekazywanej bazy roboczej.</span></i></b></p>

<p class=MsoNormal style='margin-bottom:0cm'><i><span style='font-family:"Arial",sans-serif'>Bazę
roboczą w formacie kcd przekazano przez portal WebEWID w zakresie bazy BDOT500.</span></i></p>

<p class=Standard style='text-align:justify'><b><i><span style='color:windowtext'>5.
Materiały do EGiB.</span></i></b></p>

<p class=Standard style='text-align:justify'><i><span style='color:windowtext'>Brak
zmian w zakresie treści EGiB.</span></i></p>

<p class=MsoNormal align=right style='margin-bottom:0cm;text-align:right;
line-height:115%'><i><span style='font-family:"Arial",sans-serif'>Szczecin
dnia: 2020-11-13</span></i></p>

<p class=Standard><i><span style='color:windowtext'>&nbsp;</span></i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=Standard align=center style='text-align:center'><i>&nbsp;</i></p>

<p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><i><span
style='font-family:"Arial",sans-serif;color:black'>&nbsp;</span></i></p>

</div>

</body>

</html>
